            
          
footer{
	background-color:#000000;
}

nav ul li a:hover{
	border-bottom:5px solid #fff000;
	opacity:0.7;
}
.text{
    padding:10px;
    font-family:sans-serif;
}


 .one{
                   width:270px;
	           border: 2px solid yellow;
	           margin:5px 33px;
	           float:left; 
                   
                 }
.two{
                   width:270px;
	           border: 2px solid yellow;
	           margin:5px 22px;
                float:right;
                 }
.three{
                   width:270px;
	           border: 2px solid yellow;
	           margin:5px; 
                 float:right; 
                 }
.xyz{
				overflow:auto;
				width:930px;
				margin:0 auto;
				padding:8px 0px 20px 0px;
			}